*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans";
  
}

:root {
    --color-primary-dark88: #333333;
    --color-primary-light80: #CCCCCC;
    --color-secondary-light90: #F7F7F7;
    --color-secondary-dark80: #1F1F1F;
    --color-red: #E65F78;
    --color-white: #fff;
    
  }

  body{
    background-color: var(--color-primary-dark88);
}
 
/* Header */

.main__header {
    background-color: var(--color-secondary-dark80);
    width: 100vw;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__container{
    width: 576px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 5rem;
}

.nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav__item a{
    margin-right: 2rem;
    color: var(--color-secondary-light90);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-left: 10rem;
    margin-top: 20px;
}

.nav__btn {
color: var(--color-white);
background-color: var(--color-red);
border-radius: 3px;
width: 90px;
height: 43px;
font-size: 15px;
border: none;
}
.nav__btn:hover {
    cursor: pointer;
}

/* Hero */
.hero__section {
/* width: 100vw;
height: 70vh; */
display: flex;
justify-content: center;
align-items: center;
margin-top: 7rem;
}

.details {
display: flex;
flex-direction: row;
align-items: center;
}

.profile-photo {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-right: 20px;
}

.hero-details{
display: flex;
flex-direction: column;
margin-left: 1rem;
}

.name-details {
    display: flex;
    flex-direction: row;
}

.user__detail{
font-size: 3.3rem;
font-weight: 800;
}

#user-name {
color: var(--color-white);
margin-right: 15px;
}

#user-familyname{
    color: var(--color-red);
}

.hero-details p {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 400;
}

.fa-chevron-down {
color: var(--color-white);
}

.chevron__icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 110px;
    margin-top: 5%;
}

/* Experience */

/* .main__experience {
    background-color: var(--color-primary-dark88);
    width: 100vw;
    height: 100vh;
} */

