*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans";
  
}

:root {
    --color-primary-dark88: #333333;
    --color-primary-light80: #CCCCCC;
    --color-secondary-light90: #F7F7F7;
    --color-secondary-dark80: #1F1F1F;
    --color-red: #E65F78;
    --color-white: #fff;
    
  }

  body{
    background-color: var(--color-primary-dark88);
    overflow-x: hidden; /* جلوگیری از اسکرول افقی */
}

.underline {
    height: 3px;
    background-color: var(--color-red);
    width: 100px;
    margin: 5px auto;
}

.title {
    margin-bottom: 4rem;
}

.main h1{
    color: var(--color-white);
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
 

/* Header */

.main__header {
    background-color: var(--color-secondary-dark80);
    width: 100vw;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__container{
    width: 576px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 5rem;
}

.nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav__item a{
    margin-right: 2rem;
    color: var(--color-secondary-light90);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-left: 10rem;
    margin-top: 20px;
}

.nav__btn {
color: var(--color-white);
background-color: var(--color-red);
border-radius: 3px;
width: 90px;
height: 43px;
font-size: 15px;
border: none;
padding: 10px;
}
.nav__btn:hover {
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}

/* Hero */
.hero__section {
/* width: 100vw;
height: 70vh; */
display: flex;
justify-content: center;
align-items: center;
margin-top: 7rem;
}

.details {
display: flex;
flex-direction: row;
align-items: center;
}

.profile-photo {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-right: 20px;
}

.hero-details{
display: flex;
flex-direction: column;
margin-left: 1rem;
}

.name-details {
    display: flex;
    flex-direction: row;
}

.user__detail{
font-size: 3.3rem;
font-weight: 800;
}

#user-name {
color: var(--color-white);
margin-right: 15px;
}

#user-familyname{
    color: var(--color-red);
}

.hero-details p {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 400;
}

.fa-chevron-down {
color: var(--color-white);
cursor: pointer;
}

.chevron__icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 110px;
    margin-top: 5%;
}


/* About */

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin-top: 2rem;
}

.main__about {
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.img__about--container{
    position: relative;
    display: inline-block;
}


.main__details-about img {
  width: 250px;
  height: auto;  
  margin-left: 100px;
  position: relative;
  z-index: 1;
}

.img__about--container::before{
    content: "";
    position: absolute;
    z-index: 0; 
    border: 2px solid var(--color-secondary-light90); 
    top: 10px;
    left: 10px;
    right: -10px;
    bottom: -10px;
    margin-left: 100px;
}

.main__details-about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
}


.read__about p {
    color: var(--color-white);
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
    
}

.flex__about--section {
  display: flex;
}

.information--container{
    display: flex;
    margin: 40px;
}


.information-item {
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 25px;
    text-align: left;
}

.second-column {
    margin-left: 50px;
}

.table__container {
display: flex;
justify-content: center;
padding-top: 50px;

}

.scores__section {
    width: 60%;
    background-color: var(--color-secondary-dark80);
    box-shadow: 0 5px 5px rgb(36, 36, 36);
}

.scores__section th,
.scores__section td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.scores__section th {
    color: var(--color-red);
    font-size: 4rem;
    font-weight: 800;
}

.scores__section td {
    color: var(--color-white);
    font-weight: 300;
}


/* Experience */

.experience__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 7rem;
}

.main__experience{
    max-width: 1200px;
}

.items__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.item__experience{
    width: 435px;
    background-color: var(--color-secondary-dark80);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(36, 36, 36);
}

.item__experience h3{
color: var(--color-red);
font-size: 1.5rem;
margin-bottom: 5px;
}

/* .experience-line {
    display: block;
    width: 100px; 
    height: 3px; 
    background-color: var(--color-red); 
    position: absolute;
    transform: translateX(25rem);
    top: 126%;
} */

.item__experience h4 {
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 20px;
}

.item__experience p {
    color: var(--color-white);
    font-weight: 400;
}


/* Skill */
.skill__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 7rem;
}

.main__skill{
    max-width: 1200px;
}

.items__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
    margin-bottom: 30px;
}

.item__skill{
    width: 435px;
    background-color: var(--color-secondary-dark80);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(36, 36, 36);
}

.item__skill h3{
color: var(--color-red);
font-size: 1.5rem;
}

.item__skill p {
    color: var(--color-white);
    font-weight: 400;
    padding-top: 10px;
}

.img-skill img {
   width: 75px;
   height: 75px;
   border-radius: 10px; 
   margin-bottom: 5px;
}

/* POrtfolio */
.portfolio__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 7rem;
}

.main__portfolio{
    max-width: 1200px;
}

.items__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
    margin-bottom: 30px;
}

.item__portfolio{
    width: 435px;
    background-color: var(--color-secondary-dark80);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(36, 36, 36);
}

.item__portfolio h3{
color: var(--color-red);
font-size: 1.5rem;
}

.item__portfolio p {
    color: var(--color-white);
    font-weight: 400;
    padding-top: 10px;
}

.img-portfolio img {
   width: 385px;
   height: 215px;
   border-radius: 10px; 
   margin-bottom: 5px;
}

.project__languages {
border-collapse: separate;
border-spacing: 10px;
width: auto;
height: 20px;
margin-top: 10px;

}

.project__languages th{
    font-weight: 400;
    color: var(--color-white);
    border: 1.6px solid white;
    border-radius: 5px;
    padding: 5px;
}

/* Contact */

 .contact__container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    /* margin-top: 7rem; */
}

.main__contact {
    /* max-width: 1200px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text__contact {
    max-width: 40%;
    text-align: center;
    margin: 20px 0;
}

.text__contact p {
    color: var(--color-white);
    line-height: 1.9;
    margin-bottom: 40px;
    font-size: 20px;
}

.footer__btn {
    background-color: var(--color-red);
    border: none;
    color: var(--color-white);
    width: 142px;
    height: 43px;
    font-size: 16px;
    border-radius: 3px;
    margin-top: 40px;
}

.social__icons {
    margin-top: 60px;
    display: flex;
   justify-content: center;
   
}

.fa-brands {
    color: var(--color-white);
    font-size: 30px;
    padding: 0 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-dark80);
    height: 40px;
} 

.footer-name {
    color: var(--color-white);
    font-weight: 300;
    margin: 3px;
}

.footer-lastname {
    color: var(--color-red);
    font-weight: 300;
    margin: 3px;
}

.footer-year {
    color: var(--color-white);
    font-weight: 300;
    margin: 3px;
} 

